body {
  min-width: 320px;
  font-family: 'TT Lakes', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  background-color: $bgColor;
  color: $text;
}

.scroll-lock {
  overflow: hidden;
}

.show-more-btn {
  display: none;
  transition: transform 0.3s;

  &::before {
    content: url('../img/show-more-icon.svg');
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
  }

  &--hide:before {
    transform: rotate(180deg) translateY(9px);
}

  &:hover {
    transform: scale(1.03);
  }
}

.page-content {
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.title-main {
  padding-left: 14px;
  position: relative; 
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;

  &::before {
    content: '';
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    position: absolute;
    left: -16px;
    border-radius: 2px;
  }
}

.button {
  width: 40px;
  height: 40px;
  padding: 12px 11px;
  background-color: rgba(255, 62, 121, 1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;

  &--close {
    background-image: url(../img/close.svg);
    margin-right: 16px;
  }

  &--search {
    background-image: url(../img/search.svg);
    margin-left: 80px;
  }

  &--call {
    background-image: url(../img/call.svg);
  }

  &--chat {
    background-image: url(../img/chat.svg);
  }

  &--profile {
    background-image: url(../img/profile.svg);
  }

  &--burger {
    background-image: url(../img/burger.svg);
  }

  &--request {
    position: relative;
    background-image: url(../img/request.svg);

    &::before {
      position: absolute;
      width: 2px;
      height: 32px;
      background-color: $borderGray;
      right: 60px;
      top: 5px;
    }
  }

  &--status {
    background-image: url(../img/status.svg);
  }

  &:hover {
    transform: scale(1.05);
  }
}

.title-box {
  background: $gradientGray;
  padding: 16px 0;
  width: calc(100vw - 16px);
}

.title {
  color: $title;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.arrow-btn {
    border: 2px solid #ff3e79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    background-image: url('../img/arrow-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.08);
    }
}

.card {
  width: 240px;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid $borderGray;
  border-radius: 6px;
  background: $white;
  display: flex;
  justify-content: space-between;
}

.order-button {
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
  color: $white;
  padding: 5px 40px 5px 12px;
  background: $accentColor url('../img/order-button.svg') 90px center no-repeat;
  border-radius: 16px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(0.95);
  }
}

@media (min-width: 768px) {
  .show-more-btn {
    position: relative;
    font-weight: 500;
    display: block;
    padding-left: 33px;
  }

  .container {
    max-width: 1440px;
    position: relative;
  }

  .button {
    &--burger {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $borderGray;
        left: 60px;
        top: 5px;
      }
    }
    &--status::before{
      content: '';
    }

    &--request::before {
      content: '';
    }
  }
}

@media (min-width: 1440px) {
  .page {
    display: flex; 
    flex-direction: column;
  }

  .page-content {
    padding-left: 321px;
  }

  .button {
    &--request::before {
      content: 'Оставить заявку';
    }

    &--status::before {
      content: 'Статус ремонта'; 
    }
  }

  .title-box {
    width: 100%;
  }
}
